body{
  background-image:url("../img/1.jpg");
  background-repeat: no-repeat;
}

a.navbar-brand.navbar-link{
  font:Cookie
}

nav.navbar.navbar-default.custom-header{
  position:relative;
  padding:5px 10px;
  height:50px;
}

form.input{
  width: 300px;
}

a.navbar-brand.navbar-link{
  background-color:#0099ff;
}

a.navbar-brand.navbar-link{
  background-color:#0099ff;
}

button.btn.btn-default{
  background-color:#0099ff;
  color:white;
  font-weight:bold;
}
